body{

margin:0;

background:#0a0a0a;

font-family:Arial,sans-serif;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

color:white;

}

.maintenance-card{

width:90%;

max-width:600px;

padding:40px;

border-radius:20px;

text-align:center;

background:rgba(255,255,255,.05);

backdrop-filter:blur(15px);

border:1px solid rgba(0,255,136,.3);

box-shadow:0 0 30px rgba(0,255,136,.2);

}

.icon{

font-size:80px;

animation:rotate 3s infinite linear;

}

h1{

color:#00ff88;

margin-top:10px;

font-size:45px;

}

h2{

color:white;

margin-bottom:20px;

}

.message{

color:#ccc;

line-height:1.8;

text-align:center;

width:100%;

 margin:0 auto;

}

.status{

margin-top:25px;

font-size:18px;

}

.version{

margin-top:12px;

color:#00ff88;

}

button{

margin-top:30px;

width:220px;

height:50px;

border:none;

border-radius:12px;

background:#00ff88;

color:#111;

font-size:18px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.05);

}

@keyframes rotate{

    0%{

        transform:rotate(0deg);

    }

    100%{

        transform:rotate(360deg);

    }

}